
.wal{
    width:1226px;
   
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
}
/* 3尾部 */
.footDiv .footer-service{
    height:24px;
    border-bottom:2px solid #adadad;
    padding:27px 0px;
}
.footDiv ul{
    vertical-align: middle;
}
.footDiv .footer-service .footer-service-li{
    float:left;
    height:26px;
    line-height:26px;
    width:242.75px;
    text-align:center;
    font-size:16px;
    padding-right:1px;
    border-left: 1px solid #adadad;

}
.footDiv .footer-service .footer-service-li:first-child{
    border-left: 0;
}
.footer-service-li-a{
    color:#616161;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.footer-service-li-a:hover{
    color:#b87ffd;
}
.footer-service-li-a .imgs{
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align:middle;
}
.footer-service-li-a .imge{
    background: url("../img/nimg26_1.png");
    background-position:left;
}
.footer-service-li-a:hover .imge{
    background: url("../img/nimg26_1on.png");
}
.footer-service-li-a .imgee{
    background: url("../img/nimg26_2.png");
}
.footer-service-li-a:hover .imgee{
    background: url("../img/nimg26_2on.png");
}
.footer-service-li-a .imgeee{
    background: url("../img/nimg26_3.png");
}
.footer-service-li-a:hover .imgeee{
    background: url("../img/nimg26_3on.png");
}
.footer-service-li-a .imgeeee{
    background: url("../img/nimg26_4.png");
}
.footer-service-li-a:hover .imgeeee{
    background: url("../img/nimg26_4on.png");
}
.footer-service-li-a .imgeeeee{
    background: url("../img/nimg26_5.png");
}
.footer-service-li-a:hover .imgeeeee{
    background: url("../img/nimg26_5on.png");
}
/* β���ڶ����� */
.footer-links{
    display:flex;
    justify-content:space-between;
    padding:40px 0 30px;
}
.footer-links .links-a{
    width:600px;
}
.footer-links .links-b{
    width:380px;
}
.links-a-ul{
    float:left;
    width:150px;
}
.links-a-ul li dd{
    height:28px;
    line-height:28px;
    color: #494949;
}
.links-a-ul li h2{
    height:38px;
    font-weight:400;
    color: #494949;
}
.links-a-ul li a{
    color: #7a7a7a;

}
.links-a-ul li a:hover{
    color:#b87ffd;
}
.links-b .links-b-li{
    margin-bottom:25px;
}
.links-c{width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616;}
.links-c .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #b87ffd;
}
.links-c p{
    margin-bottom:16px;
    font-size: 12px;
    color: #494949;
}
.links-c a{
    display:inline-block;
    width: 118px;
    height: 28px;
    padding: 0;
    margin: 0;
    border: 1px solid #b87ffd;
    line-height: 28px;
    text-align: center;
    color: #b87ffd;
}
div.foot{
    padding-top: 25px;
    height: 90px;
    background: #fafafa;
}
.foot .foot-div{
    height: 70px;
    line-height: 22px;
    color: #9f9f9f;
    display:flex;
}
.foot-div .logo{
    padding-right:20px;
}
.foot-div .logo1{
    padding-top:5px;
}
.foot-div .logo1 a{
    color: #9f9f9f;
}
.foot-div .logo1 a:hover{
    color: #b87ffd;
}
/* 固定定位 */
.sideBar{
    position:fixed;
    bottom:47px;
    right:8px;
    z-index: 9999;
    height:390px;
}
.icon-qq {
    background: url(https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/1_2_1.png) no-repeat;
}
.icon-qq {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 13px;
    left: 22px;
}
.btn-text {
        color: #1e2330 !important;
        overflow: hidden;
        max-width: 70px;
         color: #fff;
        display: block;
        position: relative;
        top: 43px;
}
.sideBar .bar-sort a {
    display: block;
    width: 68px;
    height: 68px;
    border: 1px solid #dadee7;
    text-align: center;
    margin: 0 auto;
}
.sideBar .br-sort .ico{
    position:relative;
    width:30px;
    height:30px;
    padding-top:10px;
    margin:0 0 0 19px;
}
.sideBar .bar-sort .ico img{
    width:30px;
    height:30px;
}