body{
    background: #f9f9f9;  
}
.regDiv{
    padding-top:132px;
}
.regBox{
    background: #fff;
    width: 856px;
    height: 550px;
    margin: 0 auto 80px;
}

.regBox .logo{
    padding-bottom:40px;
    text-align: center;
}
.regBox .title{
    text-align: center;
    color: #494949;
    font-size: 30px;
}
img{
    border:0;
    vertical-align: middle;
}
.regBox .title{
    color:#494949;
    font-size: 30px;
}
.regBox .form{
    padding:65px 262px 0;
}
.regBox .form .li-box{
    margin-bottom: 40px;
}
.regBox .form .txt{
    font-size:14px;
    height:28px;
}
.regBox .form .lbox {
    height: 30px;
    margin-bottom:10x;
}
.lbox .lbox-select{
    margin-bottom:40px;
}
.lbox .lbox-select .lbox-select1{
    height: 46px;
    width: auto;
  
} .regBox .form .input1{ 
        padding-left: 10px;
        width: 270px;
        height: 40px; 
        line-height: 45px; 
        font-size: 14px;
 }
 .li-box .but{
     width:330px;
     height:40px;
     background:#b87ffd;
     color:#fff;
 }
 .regBox .tips {
    text-align: center;
    padding-top: 70px;
    height: 24px;
    line-height: 24px;
    color: #9d9d9d;
    font-size: 14px;
}
.regBox .tips a {
    color: #333;
    font-weight: bold;
    padding: 0 2px;
}
/* 尾部 */
.footBot {
    padding: 60px 0 90px;
}
.msg {
    font-size: 14px;
    margin:0 auto;
}
.footBot .msg img{ padding: 0 6px; 
}
.footBot .msg a{
   color: #666;
}
.footBot .msg a:hover{
    color:#b87ffd;
}
